
body{
    margin: 0;
    padding: 0;
}
#settings {
    width:300px; height: 300px; border: solid; border-radius: 12px
        ; 
    padding: 5px; margin: 0; position: absolute; right: 12px; bottom: 12px; 
     display: none; background: #FFF;
}
#settingsButton {
    width:24px; height: 24px; background: #000; border-radius: 12px; position: absolute; bottom: 0; right: 0;
    margin-left: 100%;
    margin-top: 100%;
}
#settings td{
 width: 50%;
    text-align: center;
    
}
iframe {
width: 100%;   
}
#mainTable {
   
  font-size: 100px;
    margin: 0; 
    
    width: 50%;
    height: 100%;
} 
#mainTable td{
    padding: 5px;
    
    border-radius:75px;
    text-align: center;
    border: 1px solid black;
    
    }
#mainTable tr {

     display: inline-block;
}
#selectButton {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 50px;
    background: #000;
    border-radius: 25px;
}

#out {
    width: 100%;
    border: 1px solid black;
border-radius: 25px;
    min-height: 50px;
    font-size: 50px;
}
